.add-note-expand {
    position: relative;
    min-height: rem(135px);

    padding: 4px 13px;

    // display: flex;
    form {
        // background-color: antiquewhite;
        display: flex;
        flex-direction: column;

        //todo - download more font fanmily.
        input {
            min-height: rem(43px);
            padding: rem(10px), rem(15px);
            font-weight: 600;
        }

        input:first-of-type {
            font-size: rem(16px);

        }
    }

    .note-editor {
        left:rem(15px);
        bottom:rem( 7px);
        width: max-content;
    }

    .close-btn {
        position: absolute;
        right:rem( 15px);
        bottom: rem(9px);
    }
}