.menu-bar {
	position: fixed;
	// background-color: rgb(242, 209, 209);
	margin-top: rem(73px);
	width: rem(74px);
	height: 100%;
	display: flex;
	gap: rem(22px);
	flex-direction: column;

	align-items: center;

	section:first-of-type {
		img {
			background-color: #feefc3;
			padding: rem(12px);
			border-radius: 50%;
		}
	}
}