.note-editor {
    display: flex;
    background-color: antiquewhite;
    position: absolute;
    bottom: 8px;
    right: rem(17px);
    background-color: unset;
    font-size: 35px;
    gap: 10px;

  
}