.preview {
    background-color: pink;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    min-height: rem(100px);
    border-radius: rem(10px);
    padding: rem(12px) rem(16px);
}