.main-container {
    .inner-main-container {
        min-height: calc(100vh - 7rem);
        padding: 8px;
        margin-left: rem(105px);
        padding-top: rem(99px);
        display: flex;
        flex-direction: column;
    }
   
}